.playing-card {
    display: inline-block;
    width: 1.5;
    padding: .5rem;
    font-family: 'Courier New', Courier, monospace;
    border: solid 2px white;
}

.playing-card + .red {
    background-color: red;
}

.match {
    font-weight: bold;
    background-color: black;
    color: white;
}

.deck {
    margin-bottom: 1rem;
}

.position {
}

.position .playing-card {
    color: white;
    background-color: grey;
    font-weight: bold;
}

#total-matches p {
    margin-top: 1rem;
}

#stats {
    margin-top: 1rem;
}